.yoomoney-payment-form {
    box-sizing: border-box;
    max-width: 480px;
    padding: 0 20px;
    margin: auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.yoomoney-payment-form .ym-align-space-between {
    justify-content: space-between;
}

.yoomoney-payment-form .ym-block-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
}

.yoomoney-payment-form .ym-label-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

.yoomoney-payment-form .ym-input {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    background: #fff;
    padding: 0 10px;
    font-size: 15px;
}

.yoomoney-payment-form .ym-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
}

.yoomoney-payment-form .ym-block-with-hint {
    box-sizing: border-box;
    position: relative;
}

.yoomoney-payment-form .ym-block-with-hint .ym-hint {
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    background: #FF3333;
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    padding: 10px;
    top: calc(100% + 10px);
    cursor: default;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 100;
}

.yoomoney-payment-form .ym-block-with-hint .ym-hint:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    background: #FF3333;
    transform: translateX(-50%) rotate(45deg);
}

.yoomoney-payment-form .ym-visible-hint .ym-hint {
    visibility: visible;
}

.yoomoney-payment-form .ym-customer-info .ym-input {
    margin-top: 12px;
}

.yoomoney-payment-form .ym-before-line {
    padding-top: 20px;
    position: relative;
}

.yoomoney-payment-form .ym-before-line:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 108.33333333%;
    left: -4.16666667%;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
}

.yoomoney-payment-form .ym-payment-btn-block {
    margin-top: 32px;
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.yoomoney-payment-form .ym-payment-btn-block .ym-btn-pay {
    display: flex;
    min-height: 32px;
    line-height: 32px;
    font-size: 15px;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    background: #00BF96;
    padding: 0 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    max-width: 190px;
    text-align: left;
    text-transform: capitalize;
}

@media only screen and (max-width: 480px) {
    .yoomoney-payment-form {
        padding: 0 5px;
    }

    .yoomoney-payment-form .ym-input {
        height: 30px;
        min-height: 30px;
    }

    .yoomoney-payment-form .ym-align-space-between .ym-btn-pay {
        max-width: 160px;
        margin-right: 10px;
        padding: 0 5px;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    .yoomoney-payment-form {
        padding: 2px;
    }

    .yoomoney-payment-form .ym-align-space-between .ym-btn-pay {
        height: 30px;
        max-width: 160px;
        padding: 0 3px;
        margin-right: 5px;
    }
}