footer {
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    color: gray;
}

.contacts {
    font-size: 0;
}

.contacts__line {
    margin-bottom: 4px;
}

.contacts__line:last-of-type {
    margin-bottom: 0;
}

.contacts__item {
    display: block;
    font-size: .75rem;
}

@media (min-width: 520px) {

    .contacts__item {
        position: relative;
        display: inline-block;
        padding-right: 14px;
    }

    .contacts__item:after {
        content: "|";

        position: absolute;
        right: 6px;
    }

    .contacts__item:last-of-type {
        padding-right: 0;
    }

    .contacts__item:last-of-type:after {
        content: none;
    }
}