@import "common/variables.css";
@import "common/resets.css";

html, body {
    min-height: 100vh;
    background-color: #f5f5f5;
}

body {
    --content-padding: 40px;

    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-between;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px var(--content-padding);

    background-color: var(--primary);
    color: var(--text-opposite);
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.profile-photo {
    width: 36px;
    height: 36px;

    object-fit: contain;
    background-color: #fff;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 520px;
    padding: var(--content-padding);
}

li {
    padding-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
}

a {
    color: var(--primary)
}

button,
.btn {
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;

    font-family: inherit;
    font-weight: bold;

    border: none;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--text-opposite);
    background-color: var(--primary);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: all .3s;
}

button:hover,
.btn:hover {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
}

footer {
    padding-right: var(--content-padding);
    padding-bottom: 40px;
    padding-left: var(--content-padding);

    color: gray;
    font-size: .75rem;
}

.dialog {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: rgba(0, 0, 0, .5);
}

.dialog_opened {
    display: block;
}

.dialog__body {
    margin: 40px auto 0;
    padding: 40px;
    max-width: 400px;

    border-radius: 2px;
    background-color: #f5f5f5;
}

.dialog__action {
    padding-top: 40px;
    text-align: center;
}

.icon {
    font-size: 1.25rem;
}