@import "common/variables.css";
@import "common/resets.css";

:root {
    --body-padding: 32px;
    --content-padding: 32px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;

    padding: var(--body-padding);

    background: url(../assets/bg/index.jpg) no-repeat center center fixed;
    background-size: cover;
}

.env-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;

    padding: 16px;

    color: var(--text-opposite);
    background-color: var(--primary);
}

.env-banner_type_local,
.env-banner_type_dev {
    display: flex;
}

article {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
}

.title {
    margin-bottom: 3rem;

    font-size: 2rem;

    color: var(--text-opposite);
}

.title__item {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--primary);
}

.title__item:first-of-type {
    transform: rotate(-15deg);
}

.title__item:last-of-type {
    transform: translate(10px, 18px);
}

.info {

}

.info__content {
    padding: 12px;

    border-radius: 2px;
    background-color: rgba(255, 255, 255, .75);
}

.description__item {
    display: inline-block;
}

p:first-of-type {
    margin-top: 0;
}

.package {
    margin-bottom: 0;
}

.package__item {
    margin-bottom: 1rem;
}

.package__item:last-of-type {
    margin-bottom: 0;
}

form {
    padding: var(--content-padding);

    border-radius: 16px;
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, .1)
}

.fields {
    padding-top: 16px;
    padding-bottom: 16px;
}

.field {
    display: block;

    margin-bottom: 16px;
}

.field__input {
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;

    font-size: 1rem;
    font-family: var(--font-family);

    border-radius: 4px;
    border: 2px solid transparent;

    outline: none;

    transition: all ease 400ms;
}

.field__input:focus {
    border: 2px solid var(--primary);
}

.field__input::placeholder {
    color: #a0a0a0;
}

a {
    color: var(--primary)
}

button,
.btn {
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;

    font-family: inherit;
    font-weight: bold;

    border: none;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--text-opposite);
    background-color: var(--primary);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: all .3s;
}

button:hover,
.btn:hover {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
}

footer {
    padding-right: var(--content-padding);
    padding-left: var(--content-padding);

    text-align: center;

    color: gray;
}

.contacts {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.contacts__item {
    position: relative;
    display: inline-block;

    padding-right: 14px;

    list-style: none;
    font-size: .75rem;
}

.contacts__item:after {
    content: "|";

    position: absolute;
    right: 6px;
}

.contacts__item:last-of-type {
    padding-right: 0;
}

.contacts__item:last-of-type:after {
    content: none;
}

.icon {
    font-size: 1.25rem;
}