.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    font-size: 1.4rem;
    padding: 1rem;
}

.guide__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.guide__content-line {
    display: block;
    line-height: 1.4;
}

.guide__card-line {
    display: block;
    margin-top: 1rem;
}

.guide__card-number {
    padding: .125rem .5rem;
    color: var(--text-opposite);
    background-color: var(--accent);
}