:root {
    --font-family: 'Neucha', cursive;
    --primary: #e59f4e;
    --accent: #f35c54;
    --text-opposite: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
}

*:active,
*:focus,
*:hover {
    outline: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--text-opposite);
    background-color: #7e9997;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    font-size: 1.4rem;
    padding: 1rem;
}

.guide__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.guide__content-line {
    display: block;
    line-height: 1.4;
}

.guide__card-line {
    display: block;
    margin-top: 1rem;
}

.guide__card-number {
    padding: .125rem .5rem;
    color: var(--text-opposite);
    background-color: var(--accent);
}

.btn {
    width: 238px;
    height: 60px;
    border-radius: 0.375rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: var(--text-opposite);
    background-color: var(--primary);
}

.icon {
    width: 1rem;
}