.guide {
    font-size: 1.4rem;
    padding: 1rem;
}

.guide__content {
    margin-bottom: 2.4rem;
}

.guide__content-line {
    display: block;
    line-height: 1.4;
}

.guide__card-line {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.guide__card-attribute {
    padding: .125rem .5rem;
    color: var(--text-opposite);
    text-decoration: inherit;
    background-color: var(--accent);
}