.guide {
    font-size: 1.4rem;
    padding: 1rem;
}

.guide__content {
}

.guide__content-line {
    display: block;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.guide__action {
    margin-top: 2rem;
}

.riddle {
    font-size: 1.8rem;
    color: var(--accent);
}

.riddle:before,
.riddle:after {
    line-height: 1;
    font-size: 3.5rem;
    font-style: italic;
    color: #7e9997;
    opacity: .5;
}

.riddle:before {
    content: '" ';
}

.riddle:after {
    content: ' "';
    position: absolute;
    margin-top: 1.3rem;
    display: inline-block;
}

