.header__image {
    width: 100%;
    border-bottom: 3px solid var(--accent);
}

.content {
    padding: 1rem;
    text-align: center;
}

.gift {
}

.gift__title {
    margin-top: 1rem;
}

.gift__present {
    height: 25vmin;
    max-height: 7.5rem;
}

.gift__present-container {
    margin-bottom: 2rem;
}

.gift__action-container {
}