.header__image {
    width: 100%;
    border-bottom: 3px solid var(--accent);
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
}

.gift__title {
    margin-top: 2rem;
}

.gift__present {
    height: 25vmin;
    max-height: 7.5rem;
}

.gift__present-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}