:root {
    --text-color: #262626;
    --content-padding-sides: 16px;
    --font-bold: 600;
}

/** TODO: remove it **/

@font-face {
    font-family: SegoeUI;
    src:
            local("Segoe UI"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
            local("Segoe UI Semibold"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
            url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    /**
     * -apple-system targets San Francisco in Safari (on Mac OS X and iOS),
     *      and it targets Neue Helvetica and Lucida Grande on older versions
     *      of Mac OS X. It properly selects between San Francisco Text
     *      and San Francisco Display depending on the text’s size.
     * system-ui represents the default UI font on a given platform.
     * BlinkMacSystemFont is the equivalent for Chrome on Mac OS X.
     * Segoe UI targets Windows and Windows Phone.
     * Roboto targets Android and newer Chrome OS. It is deliberately listed
     *      after Segoe UI so that if you’re an Android developer on Windows
     *      and have Roboto installed, Segoe UI will be used instead.
     */
    font-family: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--text-color);
}

*:active,
*:focus,
*:hover {
    outline: 0;
}

.publication {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
}

.publication__title {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: var(--font-bold);
    text-align: center;
    border-bottom: 2px solid #eeeeee;
}

.publication__author {
    padding: 10px var(--content-padding-sides);
    border-bottom: 1px solid #efefef;
}

.publication__image {
    width: 100%;
}

.publication__action-panel {
    display: flex;
    padding: 6px var(--content-padding-sides);
    flex-direction: row;
    justify-content: space-between;
}

.publication__action-group_pos_right {
    margin-right: -12px;
}

.publication__action {
    margin-right: 12px;
}

.publication__like-statistics {
    padding: 0 var(--content-padding-sides);
    font-weight: var(--font-bold);
}

.publication__message {
    padding: 6px var(--content-padding-sides);
    flex-grow: 1;
}

.publication__message-author {
    font-weight: var(--font-bold);
}

.publication__message-highlighted {
    text-decoration: underline;
    background-color: yellow;
}

.publication__message-deleted {
    text-decoration: line-through;
    color: #fff;
    background-color: #f35c54;
}

.publication__tags {
    padding: 0 var(--content-padding-sides);
}

.publication__tag {
    color: #00376b;
}

.author {
    display: flex;
    flex-direction: row;
}

.author__logo {
    display: inline-block;
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
    padding-right: 12px;
    width: 44px;
}

.author__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.author__main-info {
    font-size: 14px;
    font-weight: var(--font-bold);
}

.author__additional-info {
    font-size: 12px;
}

.author__actions {
    width: 16px;
}

